<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.invenkode.cathedralcafeinventorylog"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- Declare minimum and target SDKs -->
    <uses-sdk
        android:minSdkVersion="25"
        android:targetSdkVersion="35" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/cof_icon_legacy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cof_icon_legacy"
        android:supportsRtl="true"
        android:theme="@style/Theme.CathedralCafeInventoryLog"
        tools:targetApi="35">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditItemActivity"
            android:exported="true" />
        <activity
            android:name=".AddItemActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
